var load='正在加载 . . .';
var loadEnd='已加载全部内容';
var loading = function (s) {
  switch (s) {
    case 1:
      return load;
      break
    case 2:
      return loadEnd;
      break
      default:
      return load;
      break
  }
}
module.exports = {
  loading: loading,
  load: load,
  loadEnd: loadEnd
};