var resultValue = "";
var conversionValue;
var percentV;
var color;
var left;
//单位转换
var stockValue = function(value) {
  if (value == null || value == "0.00") {
    return "--";
  }
  absValue = Math.abs(value);
  //万亿
  conversionValue = absValue / Math.pow(10, 12);
  if (value < 0) {
    resultValue = "-";
  }
  if (conversionValue > 1) {
    resultValue = (absValue / 1000000000000).toFixed(2) + "万亿";
    return resultValue;
  }


  if (absValue / 100000000 > 1) {
    resultValue = (absValue / 100000000).toFixed(2) + "亿";
    return resultValue;
  }

  if (absValue / 10000 > 1) {
    resultValue = (absValue / 10000).toFixed(2) + "万";
    return resultValue;
  }

  resultValue = absValue.toFixed(2);
  //console.log(resultValue);
  return resultValue;

}

//转换成百分比
var percentValue = function(value) {
  if (value == null) {
    percentV = "--";
  } else {
    percentV = value.toFixed(2) + "%";
  }
  return percentV;
  console.log(percentV);
}

var stockColor = function(e) {
  if (e >= 0) {
    color = '#d71820';
    return color;
  } else {
    color = '#5AB963';
    return color;
  }
}

var fixed = function (currentTab) {
  if (currentTab == 0) {
    left = "0";
    return left;
  } else if (currentTab == 1) {
    left = "16.6%";
    return left;
  } else if (currentTab == 2) {
    left = "33.2%";
    return left;
  } else if (currentTab == 3) {
    left = "49.8%";
    return left;
  } else if (currentTab == 4) {
    left = "66.4%";
    return left;
  } else {
    left = "83%";
    return left;
  }

}
module.exports = {
  fixed:fixed,
  left:left,
  stockColor: stockColor,
  color: color,
  stockValue: stockValue,
  conversionValue: conversionValue,
  percentValue: percentValue,
  percentV: percentV,
};